.login {
  position: relative;
  width: 390px;
  height: 844px;
  background-color: rgba(255, 255, 255, 1.0);
  background: linear-gradient(
      180deg,
      rgb(196, 93, 34) 59.9%,
      rgb(0, 86, 109) 100%
  );
}

.login .overlap {
  position: absolute;
  width: 390px;
  height: 653px;
  top: 0;
  left: 0;
  background-color: var(--branco);
  border-radius: 0px 0px 25px 25px;
}

.login .frame {
  display: flex;
  flex-direction: column;
  width: 342px;
  align-items: center;
  gap: 28px;
  position: absolute;
  top: 232px;
  left: 24px;
}

.login .title {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--space-grotesk-space-grotesk-h3-bold-font-family);
  font-weight: var(--space-grotesk-space-grotesk-h3-bold-font-weight);
  color: var(--preto);
  font-size: var(--space-grotesk-space-grotesk-h3-bold-font-size);
  text-align: center;
  letter-spacing: var(--space-grotesk-space-grotesk-h3-bold-letter-spacing);
  line-height: var(--space-grotesk-space-grotesk-h3-bold-line-height);
  font-style: var(--space-grotesk-space-grotesk-h3-bold-font-style);
}

.login .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--open-sans-open-sans-text-lg-semibold-font-family);
  font-weight: var(--open-sans-open-sans-text-lg-semibold-font-weight);
  color: var(--preto);
  font-size: var(--open-sans-open-sans-text-lg-semibold-font-size);
  letter-spacing: var(--open-sans-open-sans-text-lg-semibold-letter-spacing);
  line-height: var(--open-sans-open-sans-text-lg-semibold-line-height);
  font-style: var(--open-sans-open-sans-text-lg-semibold-font-style);
}

.login .div-2 {
  display: flex;
  height: 44px;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--cinza-muito-claro);
  border-radius: 10px;
  border: 0.5px solid;
  border-color: var(--azul-chique);
}

.login .input-layer {
  position: relative;
  flex-grow: 1;
  border: none;
  background: none;
  margin-top: -1.00px;
  font-family: var(--open-sans-open-sans-text-md-regular-font-family);
  font-weight: var(--open-sans-open-sans-text-md-regular-font-weight);
  color: var(--preto);
  font-size: var(--open-sans-open-sans-text-md-regular-font-size);
  letter-spacing: var(--open-sans-open-sans-text-md-regular-letter-spacing);
  line-height: var(--open-sans-open-sans-text-md-regular-line-height);
  white-space: nowrap;
  font-style: var(--open-sans-open-sans-text-md-regular-font-style);
  padding: 0;
}

.login .text-wrapper-2 {
  align-self: stretch;
  font-family: var(--open-sans-open-sans-text-lg-semibold-font-family);
  font-weight: var(--open-sans-open-sans-text-lg-semibold-font-weight);
  font-size: var(--open-sans-open-sans-text-lg-semibold-font-size);
  line-height: var(--open-sans-open-sans-text-lg-semibold-line-height);
  position: relative;
  color: var(--preto);
  letter-spacing: var(--open-sans-open-sans-text-lg-semibold-letter-spacing);
  font-style: var(--open-sans-open-sans-text-lg-semibold-font-style);
}

.login .senha-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.login .senha {
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--open-sans-open-sans-text-md-regular-font-family);
  font-weight: var(--open-sans-open-sans-text-md-regular-font-weight);
  font-size: var(--open-sans-open-sans-text-md-regular-font-size);
  line-height: var(--open-sans-open-sans-text-md-regular-line-height);
  white-space: nowrap;
  position: relative;
  color: var(--preto);
  letter-spacing: var(--open-sans-open-sans-text-md-regular-letter-spacing);
  font-style: var(--open-sans-open-sans-text-md-regular-font-style);
}

.login .hide-password {
  position: relative;
  width: 24px;
  height: 24px;
}

.login .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: "Lato-Medium", Helvetica;
  font-weight: 500;
  color: var(--azul-chique);
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.login .bt {
  position: relative;
  flex: 0 0 auto;
  background-color: var(--bot-o-cor-do-bot-o);
  display: flex;
  width: 249px;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--azul-chique);
}

.login .retangulo-vazio {
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(90.00deg);
}

.login .bot-o {
  color: var(--bot-o-cor-da-fonte);
  position: relative;
  flex: 1;
  height: 15px;
  font-family: var(--space-grotesk-space-grotesk-text-lg-bold-font-family);
  font-weight: var(--space-grotesk-space-grotesk-text-lg-bold-font-weight);
  font-size: var(--space-grotesk-space-grotesk-text-lg-bold-font-size);
  text-align: center;
  letter-spacing: var(--space-grotesk-space-grotesk-text-lg-bold-letter-spacing);
  line-height: var(--space-grotesk-space-grotesk-text-lg-bold-line-height);
  white-space: nowrap;
  font-style: var(--space-grotesk-space-grotesk-text-lg-bold-font-style);
}

.login .redes-sociais {
  position: relative;
  width: 170px;
  height: 46px;
}

.login .group {
  left: 61px;
  position: absolute;
  width: 47px;
  height: 46px;
  top: 0;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px #0000001a;
}

.login .overlap-group {
  position: relative;
  width: 31px;
  height: 31px;
  top: 8px;
  left: 8px;
}

.login .vector {
  position: absolute;
  width: 15px;
  height: 14px;
  top: 13px;
  left: 16px;
}

.login .img {
  position: absolute;
  width: 25px;
  height: 13px;
  top: 19px;
  left: 2px;
}

.login .vector-2 {
  position: absolute;
  width: 7px;
  height: 14px;
  top: 9px;
  left: 0;
}

.login .vector-3 {
  position: absolute;
  width: 25px;
  height: 13px;
  top: 0;
  left: 2px;
}

.login .frame-wrapper {
  left: 0;
  position: absolute;
  width: 47px;
  height: 46px;
  top: 0;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px #0000001a;
}

.login .frame-2 {
  position: absolute;
  width: 31px;
  height: 29px;
  top: 8px;
  left: 8px;
}

.login .facebook-wrapper {
  left: 123px;
  position: absolute;
  width: 47px;
  height: 46px;
  top: 0;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px #0000001a;
}

.login .facebook {
  position: absolute;
  width: 33px;
  height: 31px;
  top: 7px;
  left: 7px;
}

.login .logo {
  position: absolute;
  width: 107px;
  height: 130px;
  top: 65px;
  left: 141px;
}

.login .icone-logo {
  position: absolute;
  width: 107px;
  height: 104px;
  top: 0;
  left: 0;
}

.login .text-wrapper-4 {
  position: absolute;
  top: 108px;
  left: -11px;
  font-family: var(--space-grotesk-space-grotesk-h2-bold-font-family);
  font-weight: var(--space-grotesk-space-grotesk-h2-bold-font-weight);
  color: var(--azul-chique);
  font-size: var(--space-grotesk-space-grotesk-h2-bold-font-size);
  text-align: center;
  letter-spacing: var(--space-grotesk-space-grotesk-h2-bold-letter-spacing);
  line-height: var(--space-grotesk-space-grotesk-h2-bold-line-height);
  white-space: nowrap;
  font-style: var(--space-grotesk-space-grotesk-h2-bold-font-style);
}

.login .text-wrapper-5 {
  position: absolute;
  width: 342px;
  top: 715px;
  left: 24px;
  font-family: var(--open-sans-open-sans-text-lg-semibold-font-family);
  font-weight: var(--open-sans-open-sans-text-lg-semibold-font-weight);
  color: var(--branco);
  font-size: var(--open-sans-open-sans-text-lg-semibold-font-size);
  text-align: center;
  letter-spacing: var(--open-sans-open-sans-text-lg-semibold-letter-spacing);
  line-height: var(--open-sans-open-sans-text-lg-semibold-line-height);
  font-style: var(--open-sans-open-sans-text-lg-semibold-font-style);
}

.login .bt-2 {
  position: absolute;
  top: 750px;
  left: 71px;
  background-color: var(--bot-o-cor-do-bot-o);
  display: flex;
  width: 249px;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--azul-chique);
}

.login .cone-seta {
  position: relative;
  width: 20px;
  height: 20px;
}

.login .status-bar-iphone {
  position: fixed;
  width: 390px;
  height: 47px;
  top: 0;
  left: 0;
}

.login .clock {
  position: absolute;
  width: 88px;
  height: 47px;
  top: 0;
  left: 0;
}

.login .time-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: relative;
  top: 17px;
  left: 48px;
}

.login .time {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--preto);
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 17px;
  white-space: nowrap;
}

.login .indicators-group {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  position: absolute;
  top: 19px;
  left: 285px;
}

.login .signal {
  position: relative;
  width: 19.97px;
  height: 12.0px;
  background-image: url(./img/Signal.svg);
  background-size: 100% 100%;
}

.login .connection {
  position: relative;
  width: 17.33px;
  height: 12.5px;
}

.login .battery {
  position: relative;
  width: 27.33px;
  height: 13px;
}
