.perfil {
  position: relative;
  width: 390px;
  height: 996px;
  background-color: var(--branco);
  overflow: hidden;
}

.perfil .overlap-group {
  position: absolute;
  width: 390px;
  height: 834px;
  top: 91px;
  left: 0;
}

.perfil .frame {
  display: flex;
  width: 390px;
  align-items: flex-start;
  justify-content: center;
  gap: 68.79px;
  padding: 17.47px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--branco);
  border-radius: 0px 0px 34.94px 34.94px;
  box-shadow: 0px 6px 7px -4.37px #18274b14;
}

.perfil .div {
  display: flex;
  flex-direction: column;
  width: 345px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.perfil .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 18.56px;
  position: relative;
  flex: 0 0 auto;
}

.perfil .people {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 8.74px;
  position: relative;
  flex: 0 0 auto;
}

.perfil .places {
  display: flex;
  flex-direction: column;
  width: 96.09px;
  height: 148.5px;
  align-items: center;
  justify-content: center;
  gap: 2.18px;
  padding: 4.37px;
  position: relative;
  background-color: var(--branco);
  border-radius: 96.09px;
  box-shadow: 0px 8.74px 8.74px -4.37px #18274b14, 0px 4.37px 6.55px -4.37px
    #18274b1f;
}

.perfil .place-image {
  display: flex;
  align-items: flex-start;
  gap: 8.74px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: var(--branco);
  border-radius: 174.7px;
  overflow: hidden;
}

.perfil .places-nature {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-image: url(./img/places-nature02.png);
  background-size: cover;
  background-position: 50% 50%;
}

.perfil .frame-3 {
  display: flex;
  flex-direction: column;
  width: 186px;
  align-items: flex-start;
  gap: 8.74px;
  position: relative;
}

.perfil .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.perfil .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.09px;
  font-family: var(--space-grotesk-space-grotesk-h3-bold-font-family);
  font-weight: var(--space-grotesk-space-grotesk-h3-bold-font-weight);
  color: var(--preto);
  font-size: var(--space-grotesk-space-grotesk-h3-bold-font-size);
  letter-spacing: var(--space-grotesk-space-grotesk-h3-bold-letter-spacing);
  line-height: var(--space-grotesk-space-grotesk-h3-bold-line-height);
  white-space: nowrap;
  font-style: var(--space-grotesk-space-grotesk-h3-bold-font-style);
}

.perfil .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--space-grotesk-space-grotesk-text-md-semibold-font-family);
  font-weight: var(--space-grotesk-space-grotesk-text-md-semibold-font-weight);
  color: var(--cinza-mais-claro);
  font-size: var(--space-grotesk-space-grotesk-text-md-semibold-font-size);
  letter-spacing: var(
    --space-grotesk-space-grotesk-text-md-semibold-letter-spacing
  );
  line-height: var(--space-grotesk-space-grotesk-text-md-semibold-line-height);
  white-space: nowrap;
  font-style: var(--space-grotesk-space-grotesk-text-md-semibold-font-style);
}

.perfil .frame-5 {
  display: flex;
  width: 186px;
  align-items: flex-start;
  gap: 13.1px;
  position: relative;
  flex: 0 0 auto;
}

.perfil .frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 13.1px 10.92px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--azul-chique);
  border-radius: 21.84px;
}

.perfil .text-wrapper-3 {
  text-align: center;
  position: relative;
  width: fit-content;
  margin-top: -1.09px;
  font-family: var(--open-sans-open-sans-h5-semibold-font-family);
  font-weight: var(--open-sans-open-sans-h5-semibold-font-weight);
  color: var(--branco);
  font-size: var(--open-sans-open-sans-h5-semibold-font-size);
  letter-spacing: var(--open-sans-open-sans-h5-semibold-letter-spacing);
  line-height: var(--open-sans-open-sans-h5-semibold-line-height);
  white-space: nowrap;
  font-style: var(--open-sans-open-sans-h5-semibold-font-style);
}

.perfil .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: var(--open-sans-open-sans-text-lg-bold-font-family);
  font-weight: var(--open-sans-open-sans-text-lg-bold-font-weight);
  color: var(--branco);
  font-size: var(--open-sans-open-sans-text-lg-bold-font-size);
  text-align: center;
  letter-spacing: var(--open-sans-open-sans-text-lg-bold-letter-spacing);
  line-height: var(--open-sans-open-sans-text-lg-bold-line-height);
  white-space: nowrap;
  font-style: var(--open-sans-open-sans-text-lg-bold-font-style);
}

.perfil .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 13.1px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--azul-chique);
  border-radius: 21.84px;
}

.perfil .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1.09px;
  font-family: var(--open-sans-open-sans-h5-semibold-font-family);
  font-weight: var(--open-sans-open-sans-h5-semibold-font-weight);
  color: var(--branco);
  font-size: var(--open-sans-open-sans-h5-semibold-font-size);
  letter-spacing: var(--open-sans-open-sans-h5-semibold-letter-spacing);
  line-height: var(--open-sans-open-sans-h5-semibold-line-height);
  white-space: nowrap;
  font-style: var(--open-sans-open-sans-h5-semibold-font-style);
}

.perfil .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: var(--open-sans-open-sans-text-lg-bold-font-family);
  font-weight: var(--open-sans-open-sans-text-lg-bold-font-weight);
  color: var(--branco);
  font-size: var(--open-sans-open-sans-text-lg-bold-font-size);
  letter-spacing: var(--open-sans-open-sans-text-lg-bold-letter-spacing);
  line-height: var(--open-sans-open-sans-text-lg-bold-line-height);
  white-space: nowrap;
  font-style: var(--open-sans-open-sans-text-lg-bold-font-style);
}

.perfil .marcelo-design-adora-wrapper {
  display: flex;
  width: 345px;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.perfil .marcelo-design-adora {
  position: relative;
  width: 337px;
  margin-top: -1.09px;
  font-family: var(--open-sans-open-sans-text-lg-medium-font-family);
  font-weight: var(--open-sans-open-sans-text-lg-medium-font-weight);
  color: var(--preto);
  font-size: var(--open-sans-open-sans-text-lg-medium-font-size);
  letter-spacing: var(--open-sans-open-sans-text-lg-medium-letter-spacing);
  line-height: var(--open-sans-open-sans-text-lg-medium-line-height);
  font-style: var(--open-sans-open-sans-text-lg-medium-font-style);
}

.perfil .edit {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 30px;
  left: 346px;
}

.perfil .frame-8 {
  display: flex;
  flex-direction: column;
  width: 390px;
  align-items: center;
  gap: 12px;
  padding: 24px;
  position: absolute;
  top: 251px;
  left: 0;
}

.perfil .div-wrapper {
  display: flex;
  width: 390px;
  align-items: center;
  gap: 24px;
  padding: 4px 24px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -24.00px;
  margin-right: -24.00px;
  background-color: var(--cinza-muito-claro);
}

.perfil .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--open-sans-open-sans-h5-semibold-font-family);
  font-weight: var(--open-sans-open-sans-h5-semibold-font-weight);
  color: var(--preto);
  font-size: var(--open-sans-open-sans-h5-semibold-font-size);
  letter-spacing: var(--open-sans-open-sans-h5-semibold-letter-spacing);
  line-height: var(--open-sans-open-sans-h5-semibold-line-height);
  white-space: nowrap;
  font-style: var(--open-sans-open-sans-h5-semibold-font-style);
}

.perfil .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  height: 22px;
  font-family: var(--open-sans-open-sans-text-lg-medium-font-family);
  font-weight: var(--open-sans-open-sans-text-lg-medium-font-weight);
  color: var(--preto);
  font-size: var(--open-sans-open-sans-text-lg-medium-font-size);
  letter-spacing: var(--open-sans-open-sans-text-lg-medium-letter-spacing);
  line-height: var(--open-sans-open-sans-text-lg-medium-line-height);
  font-style: var(--open-sans-open-sans-text-lg-medium-font-style);
}

.perfil .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  height: 23px;
  font-family: var(--open-sans-open-sans-text-lg-medium-font-family);
  font-weight: var(--open-sans-open-sans-text-lg-medium-font-weight);
  color: var(--preto);
  font-size: var(--open-sans-open-sans-text-lg-medium-font-size);
  letter-spacing: var(--open-sans-open-sans-text-lg-medium-letter-spacing);
  line-height: var(--open-sans-open-sans-text-lg-medium-line-height);
  font-style: var(--open-sans-open-sans-text-lg-medium-font-style);
}

.perfil .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  height: 40px;
  font-family: var(--open-sans-open-sans-text-lg-medium-font-family);
  font-weight: var(--open-sans-open-sans-text-lg-medium-font-weight);
  color: var(--preto);
  font-size: var(--open-sans-open-sans-text-lg-medium-font-size);
  letter-spacing: var(--open-sans-open-sans-text-lg-medium-letter-spacing);
  line-height: var(--open-sans-open-sans-text-lg-medium-line-height);
  text-decoration: underline;
  font-style: var(--open-sans-open-sans-text-lg-medium-font-style);
}

.perfil .text-wrapper-11 {
  position: absolute;
  width: 342px;
  height: 15px;
  top: 1035px;
  left: 12px;
  font-family: var(--open-sans-open-sans-text-lg-medium-font-family);
  font-weight: var(--open-sans-open-sans-text-lg-medium-font-weight);
  color: var(--preto);
  font-size: var(--open-sans-open-sans-text-lg-medium-font-size);
  letter-spacing: var(--open-sans-open-sans-text-lg-medium-letter-spacing);
  line-height: var(--open-sans-open-sans-text-lg-medium-line-height);
  text-decoration: underline;
  font-style: var(--open-sans-open-sans-text-lg-medium-font-style);
}

.perfil .menu-superior {
  display: flex;
  width: 390px;
  height: 44px;
  align-items: center;
  gap: 130px;
  padding: 8px 24px;
  position: fixed;
  top: 47px;
  left: 0;
  background-color: var(--branco);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--cinza-muito-claro);
}

.perfil .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.perfil .logomarca {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -2.00px;
  margin-bottom: -2.00px;
  border-radius: 500px;
}

.perfil .icone-logo {
  position: relative;
  width: 24.76px;
  height: 24px;
}

.perfil .icon-park-outline {
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(90.00deg);
}

.perfil .nav-bar {
  display: flex;
  width: 390px;
  align-items: center;
  justify-content: center;
  padding: 8px 0px 20px;
  position: fixed;
  top: 923px;
  left: 0;
  background-color: var(--branco);
  border-top-width: 1px;
  border-top-style: solid;
  border-color: var(--cinza-muito-claro);
}

.perfil .auto-layout {
  max-width: 560px;
  align-items: flex-start;
  flex: 1;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.perfil .auto-layout-vertical {
  flex-direction: column;
  min-width: 78px;
  max-width: 78px;
  height: 45px;
  align-items: center;
  padding: 0px 21.2px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.perfil .img-wrapper {
  width: 30px;
  align-items: flex-start;
  justify-content: center;
  padding: 3px 3px 5px;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.perfil .frame-9 {
  position: relative;
  width: 35.6px;
  height: 12px;
  overflow: hidden;
}

.perfil .text-wrapper-12 {
  position: absolute;
  width: 36px;
  height: 13px;
  top: -2px;
  left: 0;
  font-family: var(--space-grotesk-space-grotesk-text-sm-medium-font-family);
  font-weight: var(--space-grotesk-space-grotesk-text-sm-medium-font-weight);
  color: var(--cinza-escuro);
  font-size: var(--space-grotesk-space-grotesk-text-sm-medium-font-size);
  text-align: center;
  letter-spacing: var(
    --space-grotesk-space-grotesk-text-sm-medium-letter-spacing
  );
  line-height: var(--space-grotesk-space-grotesk-text-sm-medium-line-height);
  font-style: var(--space-grotesk-space-grotesk-text-sm-medium-font-style);
}

.perfil .auto-layout-vertical-2 {
  height: 45px;
  padding: 0px 18.08px;
  display: flex;
  flex-direction: column;
  min-width: 78px;
  max-width: 78px;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.perfil .icone-corao {
  position: relative;
  width: 24px;
}

.perfil .text-wrapper-13 {
  position: relative;
  width: 78px;
  height: 13px;
  margin-left: -18.08px;
  margin-right: -18.08px;
  font-family: var(--space-grotesk-space-grotesk-text-sm-medium-font-family);
  font-weight: var(--space-grotesk-space-grotesk-text-sm-medium-font-weight);
  color: var(--cinza-escuro);
  font-size: var(--space-grotesk-space-grotesk-text-sm-medium-font-size);
  text-align: center;
  letter-spacing: var(
    --space-grotesk-space-grotesk-text-sm-medium-letter-spacing
  );
  line-height: var(--space-grotesk-space-grotesk-text-sm-medium-line-height);
  font-style: var(--space-grotesk-space-grotesk-text-sm-medium-font-style);
}

.perfil .auto-layout-vertical-3 {
  display: flex;
  flex-direction: column;
  min-width: 78px;
  max-width: 78px;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.perfil .icone-logo-wrapper {
  width: 30px;
  align-items: center;
  padding: 4px 3px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.perfil .icone-logo-2 {
  position: relative;
  width: 24.76px;
  height: 24px;
  margin-left: -0.38px;
  margin-right: -0.38px;
}

.perfil .text-wrapper-14 {
  position: relative;
  width: 78px;
  height: 13px;
  font-family: var(--space-grotesk-space-grotesk-text-sm-medium-font-family);
  font-weight: var(--space-grotesk-space-grotesk-text-sm-medium-font-weight);
  color: var(--cinza-escuro);
  font-size: var(--space-grotesk-space-grotesk-text-sm-medium-font-size);
  text-align: center;
  letter-spacing: var(
    --space-grotesk-space-grotesk-text-sm-medium-letter-spacing
  );
  line-height: var(--space-grotesk-space-grotesk-text-sm-medium-line-height);
  font-style: var(--space-grotesk-space-grotesk-text-sm-medium-font-style);
}

.perfil .auto-layout-vertical-4 {
  height: 45px;
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
  min-width: 78px;
  max-width: 78px;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.perfil .auto-layout-wrapper {
  position: relative;
  width: 30px;
  height: 32px;
}

.perfil .cone-chat-wrapper {
  width: 30px;
  align-items: center;
  padding: 3px;
  top: 1px;
  display: flex;
  justify-content: center;
  position: relative;
}

.perfil .img-2 {
  position: relative;
  flex: 0 0 auto;
}

.perfil .text-wrapper-15 {
  position: relative;
  width: 78px;
  height: 13px;
  margin-left: -24.00px;
  margin-right: -24.00px;
  font-family: var(--space-grotesk-space-grotesk-text-sm-medium-font-family);
  font-weight: var(--space-grotesk-space-grotesk-text-sm-medium-font-weight);
  color: var(--cinza-escuro);
  font-size: var(--space-grotesk-space-grotesk-text-sm-medium-font-size);
  text-align: center;
  letter-spacing: var(
    --space-grotesk-space-grotesk-text-sm-medium-letter-spacing
  );
  line-height: var(--space-grotesk-space-grotesk-text-sm-medium-line-height);
  font-style: var(--space-grotesk-space-grotesk-text-sm-medium-font-style);
}

.perfil .auto-layout-vertical-5 {
  height: 45px;
  padding: 0px 23.99px 0px 23.98px;
  display: flex;
  flex-direction: column;
  min-width: 78px;
  max-width: 78px;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.perfil .frame-10 {
  position: relative;
  width: 30.03px;
  height: 12px;
  overflow: hidden;
}

.perfil .text-wrapper-16 {
  position: absolute;
  width: 30px;
  height: 13px;
  top: -2px;
  left: 0;
  font-family: var(--space-grotesk-space-grotesk-text-sm-medium-font-family);
  font-weight: var(--space-grotesk-space-grotesk-text-sm-medium-font-weight);
  color: var(--azul-chique);
  font-size: var(--space-grotesk-space-grotesk-text-sm-medium-font-size);
  text-align: center;
  letter-spacing: var(
    --space-grotesk-space-grotesk-text-sm-medium-letter-spacing
  );
  line-height: var(--space-grotesk-space-grotesk-text-sm-medium-line-height);
  font-style: var(--space-grotesk-space-grotesk-text-sm-medium-font-style);
}

.perfil .status-bar-iphone {
  position: fixed;
  width: 390px;
  height: 47px;
  top: 0;
  left: 0;
  background-color: var(--branco);
}

.perfil .clock {
  position: absolute;
  width: 88px;
  height: 47px;
  top: 0;
  left: 0;
}

.perfil .time-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: relative;
  top: 17px;
  left: 48px;
}

.perfil .time {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: var(--preto);
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 17px;
  white-space: nowrap;
}

.perfil .indicators-group {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  position: absolute;
  top: 19px;
  left: 285px;
}

.perfil .signal {
  position: relative;
  width: 19.97px;
  height: 12px;
  background-image: url(./img/cellular-connection.svg);
  background-size: 100% 100%;
}

.perfil .connection {
  position: relative;
  width: 17px;
  height: 12.5px;
  background-image: url(./img/wifi.svg);
  background-size: 100% 100%;
}

.perfil .battery {
  position: relative;
  width: 27.33px;
  height: 13px;
}
.auto-layout {
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  justify-content: start;

  position: relative;
}

.auto-layout .auto-layout-vertical {
  display: flex;
  flex-direction: column;
  min-width: 78px;
  max-width: 78px;
  height: 45px;
  align-items: center;
  padding: 0px 21.2px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.auto-layout .img-wrapper {
  align-items: flex-start;
  padding: 3px 3px 5px;
  flex: 0 0 auto;
  display: flex;
  width: 30px;
  justify-content: center;
  position: relative;
}

.auto-layout .cone-lupa {
  position: relative;
  width: 24px;
  height: 24px;
}

.auto-layout .frame {
  position: relative;
  width: 35.6px;
  height: 12px;
  overflow: hidden;
}

.auto-layout .text-wrapper {
  position: absolute;
  width: 36px;
  height: 13px;
  top: -2px;
  left: 0;
  font-family: var(--space-grotesk-space-grotesk-text-sm-medium-font-family);
  font-weight: var(--space-grotesk-space-grotesk-text-sm-medium-font-weight);
  color: var(--cinza-escuro);
  font-size: var(--space-grotesk-space-grotesk-text-sm-medium-font-size);
  text-align: center;
  letter-spacing: var(
      --space-grotesk-space-grotesk-text-sm-medium-letter-spacing
  );
  line-height: var(--space-grotesk-space-grotesk-text-sm-medium-line-height);
  font-style: var(--space-grotesk-space-grotesk-text-sm-medium-font-style);
}

.auto-layout .div {
  height: 45px;
  padding: 0px 18.08px;
  display: flex;
  flex-direction: column;
  min-width: 78px;
  max-width: 78px;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.auto-layout .icone-corao {
  position: relative;
  width: 24px;
}

.auto-layout .text-wrapper-2 {
  position: relative;
  width: 78px;
  height: 13px;
  margin-left: -18.08px;
  margin-right: -18.08px;
  font-family: var(--space-grotesk-space-grotesk-text-sm-medium-font-family);
  font-weight: var(--space-grotesk-space-grotesk-text-sm-medium-font-weight);
  color: var(--azul-chique);
  font-size: var(--space-grotesk-space-grotesk-text-sm-medium-font-size);
  text-align: center;
  letter-spacing: var(
      --space-grotesk-space-grotesk-text-sm-medium-letter-spacing
  );
  line-height: var(--space-grotesk-space-grotesk-text-sm-medium-line-height);
  font-style: var(--space-grotesk-space-grotesk-text-sm-medium-font-style);
}

.auto-layout .auto-layout-vertical-2 {
  display: flex;
  flex-direction: column;
  min-width: 78px;
  max-width: 78px;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.auto-layout .icone-logo-wrapper {
  align-items: center;
  padding: 4px 3px;
  flex: 0 0 auto;
  display: flex;
  width: 30px;
  justify-content: center;
  position: relative;
}

.auto-layout .icone-logo {
  position: relative;
  width: 24.76px;
  height: 24px;
  margin-left: -0.38px;
  margin-right: -0.38px;
}

.auto-layout .text-wrapper-3 {
  position: relative;
  width: 78px;
  height: 13px;
  font-family: var(--space-grotesk-space-grotesk-text-sm-medium-font-family);
  font-weight: var(--space-grotesk-space-grotesk-text-sm-medium-font-weight);
  color: var(--cinza-escuro);
  font-size: var(--space-grotesk-space-grotesk-text-sm-medium-font-size);
  text-align: center;
  letter-spacing: var(
      --space-grotesk-space-grotesk-text-sm-medium-letter-spacing
  );
  line-height: var(--space-grotesk-space-grotesk-text-sm-medium-line-height);
  font-style: var(--space-grotesk-space-grotesk-text-sm-medium-font-style);
}

.auto-layout .auto-layout-vertical-3 {
  height: 45px;
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
  min-width: 78px;
  max-width: 78px;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.auto-layout .auto-layout-wrapper {
  position: relative;
  width: 30px;
  height: 32px;
}

.auto-layout .cone-chat-wrapper {
  align-items: center;
  padding: 3px;
  top: 1px;
  display: flex;
  width: 30px;
  justify-content: center;
  position: relative;
}

.auto-layout .img {
  position: relative;
  flex: 0 0 auto;
}

.auto-layout .text-wrapper-4 {
  position: relative;
  width: 78px;
  height: 13px;
  margin-left: -24.00px;
  margin-right: -24.00px;
  font-family: var(--space-grotesk-space-grotesk-text-sm-medium-font-family);
  font-weight: var(--space-grotesk-space-grotesk-text-sm-medium-font-weight);
  color: var(--cinza-escuro);
  font-size: var(--space-grotesk-space-grotesk-text-sm-medium-font-size);
  text-align: center;
  letter-spacing: var(
      --space-grotesk-space-grotesk-text-sm-medium-letter-spacing
  );
  line-height: var(--space-grotesk-space-grotesk-text-sm-medium-line-height);
  font-style: var(--space-grotesk-space-grotesk-text-sm-medium-font-style);
}

.auto-layout .auto-layout-vertical-4 {
  height: 45px;
  padding: 0px 23.99px 0px 23.98px;
  display: flex;
  flex-direction: column;
  min-width: 78px;
  max-width: 78px;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.auto-layout .div-wrapper {
  position: relative;
  width: 30.03px;
  height: 12px;
  overflow: hidden;
}

.auto-layout .text-wrapper-5 {
  position: absolute;
  width: 30px;
  height: 13px;
  top: -2px;
  left: 0;
  font-family: var(--space-grotesk-space-grotesk-text-sm-medium-font-family);
  font-weight: var(--space-grotesk-space-grotesk-text-sm-medium-font-weight);
  color: var(--cinza-escuro);
  font-size: var(--space-grotesk-space-grotesk-text-sm-medium-font-size);
  text-align: center;
  letter-spacing: var(
      --space-grotesk-space-grotesk-text-sm-medium-letter-spacing
  );
  line-height: var(--space-grotesk-space-grotesk-text-sm-medium-line-height);
  font-style: var(--space-grotesk-space-grotesk-text-sm-medium-font-style);
}