.iphone-mini {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.iphone-mini .overlap-wrapper {
  background-color: #ffffff;
  width: 375px;
  height: 812px;
}

.iphone-mini .overlap {
  position: relative;
  height: 812px;
  background-image: url(./img/logged-out.png);
  background-size: 100% 100%;
}

.iphone-mini .status-bar {
  position: absolute;
  width: 375px;
  height: 44px;
  top: 0;
  left: 0;
}

.iphone-mini .connections {
  position: absolute;
  width: 68px;
  height: 16px;
  top: 15px;
  left: 293px;
}

.iphone-mini .battery {
  position: absolute;
  width: 25px;
  height: 12px;
  top: 2px;
  left: 43px;
}

.iphone-mini .overlap-group {
  position: absolute;
  width: 22px;
  height: 11px;
  top: 0;
  left: 0;
  border-radius: 2.67px;
  border: 1px solid;
  border-color: #00000059;
}

.iphone-mini .capacity {
  position: relative;
  width: 18px;
  height: 7px;
  top: 1px;
  left: 1px;
  background-color: #000000;
  border-radius: 1.33px;
}

.iphone-mini .cap {
  position: absolute;
  width: 1px;
  height: 4px;
  top: 4px;
  left: 23px;
}

.iphone-mini .wifi {
  position: absolute;
  width: 21px;
  height: 15px;
  top: 1px;
  left: 20px;
}

.iphone-mini .img {
  position: absolute;
  width: 15px;
  height: 11px;
  top: 1px;
  left: 3px;
}

.iphone-mini .cellular-connection {
  position: absolute;
  width: 18px;
  height: 12px;
  top: 2px;
  left: 0;
}

.iphone-mini .cellular-connection-2 {
  position: absolute;
  width: 17px;
  height: 11px;
  top: 1px;
  left: 1px;
}

.iphone-mini .time {
  position: absolute;
  width: 56px;
  height: 23px;
  top: 8px;
  left: 21px;
}

.iphone-mini .text-wrapper {
  position: absolute;
  width: 54px;
  top: 6px;
  left: 0;
  font-family: "SF Pro Text-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.33px;
  line-height: normal;
}

.iphone-mini .group {
  position: absolute;
  width: 319px;
  height: 119px;
  top: 247px;
  left: 28px;
}

.iphone-mini .overlap-group-wrapper {
  height: 119px;
}

.iphone-mini .div {
  position: relative;
  width: 321px;
  height: 119px;
}

.iphone-mini .div-wrapper {
  position: absolute;
  width: 321px;
  height: 54px;
  top: 57px;
  left: 0;
}

.iphone-mini .text-wrapper-2 {
  position: absolute;
  height: 54px;
  top: 0;
  left: 0;
  font-family: "Comfortaa-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  text-align: right;
  letter-spacing: -0.72px;
  line-height: normal;
  white-space: nowrap;
}

.iphone-mini .unsplash {
  position: absolute;
  width: 213px;
  height: 119px;
  top: 0;
  left: 0;
}

.iphone-mini .frame {
  display: flex;
  width: 343px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 684px;
  left: 28px;
}

.iphone-mini .button {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 167px;
  height: 52px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid;
  border-color: #000000;
}

.iphone-mini .log-in {
  position: absolute;
  height: 15px;
  top: 17px;
  left: 55px;
  font-family: "Roboto-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.52px;
  line-height: normal;
  white-space: nowrap;
}

.iphone-mini .register-wrapper {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 167px;
  height: 52px;
  background-color: #000000;
  border-radius: 6px;
}

.iphone-mini .register {
  position: absolute;
  height: 15px;
  top: 19px;
  left: 43px;
  font-family: "Roboto-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.52px;
  line-height: normal;
  white-space: nowrap;
}