.iphone-mini {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.iphone-mini .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 375px;
  height: 812px;
  position: relative;
}

.iphone-mini .overlap {
  position: absolute;
  width: 562px;
  height: 834px;
  top: -406px;
  left: -188px;
}

.iphone-mini .rectangle {
  position: absolute;
  width: 375px;
  height: 812px;
  top: 0;
  left: 0;
}

.iphone-mini .status-bar {
  position: absolute;
  width: 375px;
  height: 44px;
  top: 406px;
  left: 188px;
  background-color: #ffffff;
}

.iphone-mini .connections {
  position: absolute;
  width: 68px;
  height: 16px;
  top: 15px;
  left: 293px;
}

.iphone-mini .battery {
  position: absolute;
  width: 25px;
  height: 12px;
  top: 2px;
  left: 43px;
}

.iphone-mini .overlap-group {
  position: absolute;
  width: 22px;
  height: 11px;
  top: 0;
  left: 0;
  border-radius: 2.67px;
  border: 1px solid;
  border-color: #00000059;
}

.iphone-mini .capacity {
  position: relative;
  width: 18px;
  height: 7px;
  top: 1px;
  left: 1px;
  background-color: #000000;
  border-radius: 1.33px;
}

.iphone-mini .cap {
  position: absolute;
  width: 1px;
  height: 4px;
  top: 4px;
  left: 23px;
}

.iphone-mini .wifi {
  position: absolute;
  width: 21px;
  height: 15px;
  top: 1px;
  left: 20px;
}

.iphone-mini .img {
  position: absolute;
  width: 15px;
  height: 11px;
  top: 1px;
  left: 3px;
}

.iphone-mini .cellular-connection {
  position: absolute;
  width: 18px;
  height: 12px;
  top: 2px;
  left: 0;
}

.iphone-mini .cellular-connection-2 {
  position: absolute;
  width: 17px;
  height: 11px;
  top: 1px;
  left: 1px;
}

.iphone-mini .time {
  position: absolute;
  width: 56px;
  height: 23px;
  top: 8px;
  left: 21px;
}

.iphone-mini .text-wrapper {
  position: absolute;
  width: 54px;
  top: 6px;
  left: 0;
  font-family: "SF Pro Text-Semibold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.33px;
  line-height: normal;
}

.iphone-mini .register {
  position: absolute;
  width: 223px;
  height: 40px;
  top: 511px;
  left: 264px;
}

.iphone-mini .register-2 {
  position: absolute;
  height: 40px;
  top: 0;
  left: 59px;
  font-family: "Comfortaa-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.54px;
  line-height: normal;
  white-space: nowrap;
}

.iphone-mini .component {
  position: absolute;
  width: 343px;
  height: 52px;
  top: 605px;
  left: 200px;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #7e6b6b;
}

.iphone-mini .div-wrapper {
  position: relative;
  height: 52px;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #000000;
}

.iphone-mini .text-wrapper-2 {
  position: absolute;
  height: 18px;
  top: 15px;
  left: 38px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #7e6b6b;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iphone-mini .overlap-wrapper {
  position: absolute;
  width: 343px;
  height: 52px;
  top: 703px;
  left: 200px;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #685a5a;
}

.iphone-mini .text-wrapper-3 {
  position: absolute;
  height: 18px;
  top: 15px;
  left: 38px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #685a5a;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iphone-mini .button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 204px;
  height: 51px;
  top: 783px;
  left: 266px;
  background-color: #1a0e0e;
  border-radius: 6px;
}

.iphone-mini .log-in {
  position: absolute;
  height: 15px;
  top: 19px;
  left: 75px;
  font-family: "Roboto-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.52px;
  line-height: normal;
  white-space: nowrap;
}

.iphone-mini .by-signing-up-you {
  position: absolute;
  width: 343px;
  top: 451px;
  left: 21px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px;
}

.iphone-mini .span {
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px;
}

.iphone-mini .text-wrapper-4 {
  text-decoration: underline;
}